#login-form {
cursor: pointer;
margin-top: 90px;
display: flex;
flex-direction: column;

}
button {
  background-color: rgb(255, 0, 0) !important;
}
#sign-out {
  border-style: dotted;
  width: 75px;
  height: 30px;
  font-size: 100%;
}
body {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
li:hover {
  text-shadow: -4px -2px 3px rgba(149, 150, 150, 1);
}
.navbar {
width: 100%;
background-color: rgba(131, 131, 105, 0.068);
display: flex;
justify-content: center;
align-items: center;
position: fixed;
top: 0;
left: 0;
pointer-events: none;
}
.picture img{
    width: auto;
    height: 200px;    
}
#drivers{
    margin: 200px;
}
#drivers-selection{
    position:absolute;
    background-color: powderblue;
    top: 150px;  
}
button, label, input{
margin-top: 5px;
}

